html, body {
	height: 100%;
}

body {
	font-family: arial, sans-serif;
	background-color: rgba(255, 170, 193, 0.37);;
	color: white;
	text-shadow: 0 0 4px black;
	height: 100%;
	padding-top: 97px;
	position: relative;
}

header {
	top: 0;
	padding: 30px 20px;
	background-color: #FF5783;
	box-shadow: 0 0 5px #272727;
	border-bottom: 1px solid #222;
	z-index: 1000;
	position: absolute;
	width: 100%;
	height: 97px;
}

aside, main {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	font-size: 0.85em;
}

main {
	padding: 15px;
}

aside {
	background-color: #B6B2BA;
	box-shadow: 0 0 5px #272727;
	overflow: hidden;
}

aside h3 {
	padding: 10px;
	text-align: center;
	box-shadow: 0 0 4px #222;
}

aside ul {
	padding: 0;
	margin: 0px;
}

aside ul li {
	list-style: none;
}

aside ul li a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #353535;
}

aside ul li:last-child a{
	border-bottom: none;
}

aside ul li a:hover {
	background-color: #FF5783;
}

aside ul li a.selected {
	background-color: #353535;
	box-shadow: 0 0 5px black inset;
}

main h2 {
	padding: 10px 0;
	font-size: 1.5em;
}

main p {
	margin: 15px 0;
}

.button {
	 text-decoration: none;
    border: none;
    padding: 7px;
    background: #FF5783;
    border-radius: 5px;
    box-shadow: 0 0 5px #222;
   
   
}
header h1{
	text-align: center;
}

h2{

	color: #B6B2BA;
	text-shadow: none;
}

/*.form-message{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;

}

.form-message input, .form-message textarea {
	display: inline-block;
	vertical-align: middle;
	height: 30px;

}

.form-message textarea {
	width: calc(100% - 90px);
	height: 90px;
}

.form-message input[type=submit]{
	border-radius: 0;
	width: 90px;
}*/